body {
	color: #878d74;
}

.column {
    float: left;
    flex-wrap: wrap;
}

.left {
    width: 280px;
}

.middle {
    width: 80px;
}

.right {
    width: 150px;
}

.row {
    content: '';
    display: table;
    clear: both;
}

.reason {
    resize: none;
    min-height: 40px;
    width: 340px;
}

.rolegroup {
    padding: 3px;
    width: 430px;
    border: none;
    text-align: center;
    outline: none;
    display: inline-block;
}

.long {
    width: 860px;
}

.content {
    text-align: center;
}

.kingsrow {
    background-color: #171717;
    color: #7f7e9f;
}

.risvon {
    background-color: #681f13;
    color: #9f9987;
}

.perserdun {
    background-color: #394051;
    color: #90949b;
}

.abstract {
    background-color: #374048;
}

.ghostandotherroles {
    background-color: #2e0073;
}

.antagonistpositions {
    background-color: #361f1f;
}

.inputbox {
    position: absolute;
    top: 0px;
    left: 4px;
    width: 14px;
    height: 14px;
    background: #e6e6e6;
}

.select {
    position: relative;
    display: inline-block;
}

.hidden {
    display: none;
}
